<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="follow">
<!-- 나의 팔로워 리스트 조회 -->
	<select id="selectFollower" resultType="followmemberprofile">
		SELECT f.id, pf.profile_name, m.name
		FROM follow f, member m, profile pf
		WHERE f.id = m.id
		AND m.profile_no = pf.profile_no
		AND f.following = #{id}
			
    </select>
 <!-- 내가 팔로우 하는 사람 리스트 조회 -->   
 	<select id="selectFollowing" resultType="followmemberprofile">
	    SELECT m.id, m.name, pf.profile_name
		FROM member m, profile pf
		WHERE m.profile_no = pf.profile_no
		AND m.id in (SELECT following
		            FROM follow
		            WHERE id = #{id})
		                        
	</select>
	
	<insert id="insertFollow" parameterType="follow">
	
		INSERT INTO follow
		(id, following, follower)
		VALUES (#{id}, #{following}, #{follower})
	</insert>
	
	<!-- 나의 팔로워 수 조회 -->
	<select id="selectFollowerCount" resultType="int">
	
		SELECT COUNT(*) 
		FROM follow 
		WHERE following = #{id}
		
		
	
    </select>
    <!-- 내가 팔로우 하는 수 조회 -->
    <select id="selectFollowCount" resultType="int">
		
		SELECT COUNT(*) 
		FROM follow
		WHERE id = #{id}
			
    </select>
    
    <!-- 팔로우 유무 -->
    <select id="selectFollowState" resultType="int">
    	SELECT COUNT(*)
    	FROM follow
    	WHERE id=#{id}
    	AND following=#{id2}
    
    </select>
    
</mapper>
	