<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="likes">
	<select id="selectLike" parameterType="likes" resultType="int">
		SELECT COUNT(*)
		FROM likes
		WHERE id=#{id}
  	 	AND post_no=#{post_no}
	
	</select>
	
	 <insert id="insertLike" parameterType="likes">
	    INSERT INTO likes
	    (like_no, post_no, id)
	    VALUES (seq_likes_like_no.nextval, #{post_no}, #{id})
	    
	  </insert>
  	
  	 <delete id="deleteLike" parameterType="likes">
  	 	DELETE FROM likes
  	 	WHERE id=#{id}
  	 	AND post_no=#{post_no}
  	 </delete>
  	 
</mapper>
	