<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="likes">
	 <update id="likeCheck" parameterType="HashMap">
	    UPDATE likes
	    SET like_check = like_check + 1 
	    WHERE id=#{id} 
	    AND post_no= #{post_no}
	  </update>
  
	  <update id="likeCheckCancel" parameterType="HashMap">
	    UPDATE likes
	    SET like_check = 0
	    WHERE id=#{id} 
	    AND post_no= #{post_no}
	  </update>


	
</mapper>
	