<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insertMember" parameterType="member">
		INSERT INTO member 
		VALUES(#{id}, #{name}, #{pw}, #{phone}, null)
	
	
	</insert>
	<select id="selectIdofMember" parameterType="string" resultType="int">
		SELECT COUNT(*) 
		FROM member 
		WHERE id = #{id}
	</select>

	
	<select id="selectSigninMember" parameterType="member" resultType="int">
		SELECT COUNT(*) 
		FROM member
		WHERE id=#{id} 
		AND pw=#{pw}
	</select>
	

	 
</mapper>