<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
 	<typeAlias alias="member" type="kr.co.kitri.member.vo.MemberVO" />
 	<typeAlias alias="post" type="kr.co.kitri.post.vo.PostVO" />
 	<typeAlias alias="postimg" type="kr.co.kitri.post.vo.PostImgVO" />
 	<typeAlias alias="postimgmemberprofile" type="kr.co.kitri.post.vo.PostImgMemberProfileVO" />
 	<typeAlias alias="img" type="kr.co.kitri.img.vo.ImgVO" />
 	<typeAlias alias="comment" type="kr.co.kitri.comment.vo.CommentVO" />
 	<typeAlias alias="commentprofilemember" type="kr.co.kitri.comment.vo.CommentProfileMemberVO" />
 	<typeAlias alias="profile" type="kr.co.kitri.profileimg.vo.ProfileImgVO" />
 	<typeAlias alias="likes" type="kr.co.kitri.likes.vo.LikesVO" />
 	<typeAlias alias="follow" type="kr.co.kitri.follow.vo.FollowVO" />
 	<typeAlias alias="followmemberprofile" type="kr.co.kitri.follow.vo.FollowMemberProfileVO" />
 	</typeAliases>	 
</configuration>
 
