<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post">
	<select id="selectPosts" resultType="arraylist">
		SELECT * FROM post
	</select>
	
	<insert id="insertPost" parameterType="post">
	
		INSERT INTO post
		(post_no, regdate, id, content, del_flag)
		VALUES (post_post_no_seq.nextval, sysdate, #{id}, #{content}, 'N')
	</insert>
	
	<select id="selectPostJoinImgs" resultType="postimg">
		SELECT * 
		FROM post p, img i
		WHERE p.post_no = i.post_no
		AND p.id = #{id}
		AND i.img_no IN 
				       (SELECT MIN(img_no) FROM img
				       GROUP BY post_no) 
		AND p.del_flag = 'N'
		ORDER BY p.post_no DESC
	</select>
	
	<select id="selectPost" parameterType="int" resultType="postimgmemberprofile">
			SELECT p.id, p.post_no, p.content, p.regdate, i.img_name, pf.profile_name, pf.profile_path
			FROM post p, img i, member m, profile pf
			WHERE p.post_no=i.post_no
			AND p.id = m.id
			AND m.profile_no = pf.profile_no
			AND p.post_no=#{post_no}
	</select>
	
	<update id="deletePost" parameterType="post">
	 	UPDATE post
	 	SET del_flag = 'Y'
	 	WHERE post_no=#{post_no}
	 	
	 </update>
	
	<select id="selectPostCount" resultType="int">
	
		SELECT COUNT(*) 
		FROM post
		WHERE id = #{id}
	
    </select>
	
</mapper>
	