<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="profile">
	<resultMap type="profile" id="resultMapimgfile">
		<result property="profile_no" column="profileno" />
		<result property="profile_name" column="profilename" />
		<result property="profile_size" column="profilesize" />
		<result property="id" column="id" />
		<result property="ori_profile_name" column="oriprofilename" />
	
	</resultMap>
	

	<insert id="insertProfileFile" parameterType="profile">
		INSERT INTO profile
		VALUES (profile_no_seq.nextval, #{profile_name}, #{profile_size}, #{profile_path}, #{id}, #{ori_profile_name})
	
	</insert>
	
	<select id="selectProfileImg" parameterType="profile" resultType="profile">
		SELECT profile_name
		FROM profile
	 	WHERE id=#{id}
	</select>	
	
	<update id="updateProfileImg" parameterType="profile">
	 	UPDATE profile 
   			SET profile_name=#{profile_name},
        		profile_size=#{profile_size},
       	 		profile_path=#{profile_path},
       			ori_profile_name=#{ori_profile_name}
    	WHERE id=#{id}
	</update>


</mapper>	